doctype html
html(lang='en')
 head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Baobab web interface')
    meta(name='author', content='Yann Sagon (yann.sagon@unige.ch)')
    meta(name='copyright', content='Copyright (c) 2013-2016 University of Geneva')
    link(rel='shortcut icon', href=urlRoot + 'images/favicon.ico')
    title Baobab web interface
    if 'development' == process.env.NODE_ENV
      link(href=urlRoot + 'bower_components/jquery-ui/themes/redmond/jquery-ui.min.css',
           rel='stylesheet')
      link(href=urlRoot + 'bower_components/bootstrap/dist/css/bootstrap.css', 
           rel='stylesheet')
      link(href=urlRoot + 'bower_components/bootstrap-datepicker/css/datepicker.css', 
           rel='stylesheet')
      link(href=urlRoot + 'javascripts/watable/watable.css', rel='stylesheet')
    if 'production' == process.env.NODE_ENV
      link(href=urlRoot + 'css/optimized.css', rel='stylesheet')
    style.
      html,body {
        height: 100%;
      } 
      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -60px;
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 60px;
      }
      #footer {
        background-color: #f5f5f5;
      }
      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }
      .container .credit {
        margin: 20px 0;
      }
      .error {
        color: red;
      }
 body
    #wrap
       .container
          if user
             p
                | Welcome
                = ' ' + user.username + ' '
                a(href='/logout') logout
          .page-header
             h1 Baobab web interface
          block content
          #push
    #footer
       .container
          p.muted.credit Copyright (c) 2013-2016 University of Geneva

    script.
      var urlRoot = "!{urlRoot}";
      var email = "!{userDetail.email}";
      var userName = "!{userDetail.userName}";

    if process.env.NODE_ENV == 'development'
      /*script(data-main='iface-dev/javascripts/common.js' src=urlRoot + 'bower_components/requirejs/require.js')*/
      script(src=urlRoot + 'bower_components/requirejs/require.js')
      script.
        require([urlRoot + 'javascripts/common.js'], function(undefined){
          require(['main'], function($){
          });
        });
    if process.env.NODE_ENV == 'production'
      script(src=urlRoot + 'javascripts/optimized.js')
      script.
        require(['main'], function($){
        });
